<%= form_for(@beverage) do |f| %>
  <% if @beverage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beverage.errors.count, "error") %> prohibited this beverage from being saved:</h2>

      <ul>
      <% @beverage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    Check<br/>
    <input type="password" name="text_check">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
