<h2><em>photography.</em></h2>

<p>I love taking pictures, I'm not very good at it and but like it none the less. Here are some of my better pictures.</p>


<h3>Buttermere Lake. My favourte place in the world.</h3>
<%= link_to (image_tag '/images/photos/buttermere_stones.jpg', :height=>300), '/images/photos/buttermere_stones.jpg'%>

<h3>Meercats - genuine picture, not shopped</h3>
<%= link_to (image_tag '/images/photos/meercats.jpg', :height=>300), '/images/photos/meercats.jpg'%>

<h3>WTF garden - Found near a monkey sanctuary</h3>
<%= link_to (image_tag '/images/photos/amstradgarden.jpg', :height=>300), '/images/photos/amstradgarden.jpg'%>

<h3>Yellow flowers</h3>
<%= link_to (image_tag '/images/photos/yellow.jpg', :height=>300), '/images/photos/yellow.jpg'%>

<h3>Pink tree</h3>
<%= link_to (image_tag '/images/photos/pinktree.jpg', :height=>300), '/images/photos/pinktree.jpg'%>
