<!DOCTYPE html>
<html>
<head>
<title>dryule</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

 

  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-8972210-2']);

  _gaq.push(['_trackPageview']);

 

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();

 

</script>
  
</head>
<body>

	<div id="container">
    <div id="header">
        <h1><em>drYule.</em></h1>
		</div>
    <div id="top-nav">
        <ul>
        <li <%= "class='active'" if controller_name == 'work' %>><%= link_to 'work', '/work' %></li>
        <li <%= "class='active'" if controller_name == 'beer' %>><%= link_to 'beer', '/beer' %></li>
        <li <%= "class='active'" if controller_name == 'sport' %>><%= link_to 'sport', '/sport' %></li>
        <li <%= "class='active'" if controller_name == 'about_me' %>><%= link_to 'about me', '/about-me' %></li>
          </ul>
    </div>
    <div class="clear"><!-- --></div>
		<div id="main">	
      <div id="content">
            <div id="content-padder">
              <div id="min-height-force"><!-- --></div>              
                <%= yield %>
            </div>
                  <div class="clear"><!-- --></div>  
            
        </div>
        
		</div> <div class="clear"><!-- --></div>
		<div id="footer">
      &copy; Paul Brennan
    </div>
	</div>
</body>
</html>
