<!DOCTYPE html>
<html>
<head>
<title>dryule; A bit about Paul Brennan</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'application','game' %>
  <%= csrf_meta_tag %>
  <meta name="description" content="The personal page of Paul Martin Brennan from York, UK. Covering beer reviews, life and all things ruby, rails and exciting agile technologies.">
  <meta name="keywords" content="Paul, Martin, Brennan, dryule, yule, rails, ruby, beer, reviews, dry, rails 3">
  <meta name="language" content="en">
  <meta name="DC.title" content="dryule">
  <meta name="DC.creator" content="Paul Brennan">
  <meta name="DC.subject" content="Yule">
  <meta name="DC.description" content="The personal page of Paul Martin Brennan from York, UK. Covering beer reviews, life and all things ruby, rails and exciting agile technologies.">
  <meta name="DC.publisher" content="heroku">
  <meta name="DC.type" scheme="DCTERMS.DCMIType" content="Text">
  <meta name="DC.format" scheme="DCTERMS.IMT" content="text/html">
  <meta name="DC.identifier" scheme="DCTERMS.URI" content="http://www.dryule.com">
  <meta name="DC.language" scheme="DCTERMS.URI" content="English">
  
  
  
  <script type="text/javascript">

 

  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-8972210-2']);

  _gaq.push(['_trackPageview']);

 

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();

 

</script>
  
</head>
<body>
  
<div id="top-nav">
        <ul>
        <li <%= "class='active'" if controller_name == 'about_me' %>><%= link_to 'about me', '/about-me' %></li>
        <li <%= "class='active'" if controller_name == 'beer' %>><%= link_to 'beer', '/beer' %></li>
        <li <%= "class='active'" if controller_name == 'blog' %>><%= link_to 'blog', '/blog' %></li>
        <li <%= "class='active'" if controller_name == 'work' %>><%= link_to 'work', '/work' %></li>
        <li <%= "class='active'" if controller_name == 'photography' %>><%= link_to 'photography', '/photography' %></li>
        <li <%= "class='active'" if controller_name == 'sport' %>><%= link_to 'sport', '/sport' %></li>
          </ul>


</div>

	<div id="container">
    <div id="header">
        <h1><em>drYule.</em></h1>
		</div>
    
    <div class="clear"><!-- --></div>
		<div id="main">	
      <div id="content">
            <div id="content-padder">
              <div id="min-height-force"><!-- --></div>              
                <%= yield %>
            </div>
                  <div class="clear"><!-- --></div>  
            
        </div>
        
		</div> <div class="clear"><!-- --></div>
		<div id="footer">
    &copy; Paul Brennan  | <%= link_to 'login', '/login' %>
    </div>
	</div>
</body>
</html>
